<div class="container">
  <div id="header" class="span-24">
      <%- if user_signed_in? %>
          <%= render :partial => "shared/dashboard" %> <br />
      <% end -%>
  <div>

  <div id="memberlist" class="span-24">
    <h1>
      <%= @group.name %> Hub - Memberlist
    </h1>

    <ul>
      <% for user in @group.users %>
        <li id="<%= email_to_safe_id(user.email) %>">
            <%= link_to(user.email, user_path(user)) %>
            <%= ban_button_for(@group, user) if can? :destroy, @group.get_membership(user) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="errors" class="span-24">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

</div>

