<%= form_for @group, :html => { :multipart => true } do |f| %>
<p>
  <%= f.label :name, 'Group name' %> <%= f.text_field :name %>
  <%= f.label :avatar, 'Avatar image' %> <%= f.file_field :avatar %>
</p>
<%= f.submit %>
<% end %>

<br />
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<% @group.errors.to_a.each do |error| %>
  <%= error %>
<% end %>

