<div class="container">

  <div id="header" class="span-24">
    <%- if user_signed_in? %>
        <%= render :partial => "shared/dashboard" %> <br />
    <% end -%>
  </div>

  <div id="group_page_container" class="span-24">
    <h1> <%= @group.name %> Hub </h1>

    <%= image_tag( @group.avatar.url(:medium) ) %>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>


    <div id="group_page_actions" class="span-24">
      <% if @group.has_member?(current_user)%>
        <%= link_to "Leave group", group_membership_path( @group.id, current_user ), :method => :delete,
                                  :confirm => "Are you sure you want to leave this group?" %> <br />

        <%= link_to "Edit group", edit_group_path( @group ) %> <br />
      <% end %>

      <% if can? :create_achievements, @group %>
        <%= link_to "Create achievement", new_group_achievement_path( @group ) %> <br />
      <% end %>

      <%= link_to "View members", group_memberships_path( @group.id ) %> <br />
      <%= link_to "View achievements", group_achievements_path( @group.id ) %> <br />

      <% unless @group.has_member?(current_user) %>
        <%= link_to "Join Hub", group_memberships_path( @group.id ), :method => :post %> <br />
      <% end %>

      <br />
      <br />
    </div>

    <div id="hub_feed" class="span-24">
      <h3> Notice Board </h3>

      <ul style="list-style-type: none;">
        <%= render @group.feed.feed_items %>

        <div id="last_feed_item_line" class="span-16 append-8" >
          <hr />
        </div>
      </ul>
    </div>

  </div>

</div>

