<br />
<%= form_for @user , :html => { :multipart => true } do |f| %>
  <%= f.label :avatar, 'Avatar image' %> <%= f.file_field :avatar %><br /> <br />
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name %> <br /><br />
  <%= f.submit %>
<% end %>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<% @user.errors.to_a.each do |error| %>
  <%= error %>
<% end %>

