<div class="container">

  <div id="header" class="span-24">
      <%- if user_signed_in? %>
          <%= render :partial => "shared/dashboard" %> <br />
      <% end -%>
    </div>

    <div id="userPageContainer" class="span-24">

      <div id="userPageInfo" class="span-24">
        <h1>
        <%= @user.name %>'s Profile
          <% unless @user.gem.nil? %>
            <%= link_to image_tag( @user.gem.image.url( :thumb ) , :border => 1 ), edit_user_gemslot_path( @user.id ),
                                   :title => @user.gem.name %>
          <% else %>
            <%= link_to image_tag( 'no-gem-image.png', :border => 1 ), edit_user_gemslot_path( @user.id ),
                                   :title => "Click to set gem" %>
          <% end %>
        </h1>

        <%= image_tag @user.avatar.url( :original ) %> <br /> <br />

        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>

        <b> Email: </b> <%= @user.email %> <br />
        <br />
        <br />

      </div>


      <div id="userPageActions" class="span-24">
        <% if can? :edit, @user %>
         <%= link_to( 'Edit Profile', edit_user_path( @user ) ) %>
        <% end %>
	<% if current_user != @user %>
	  <%- if @friendship.nil? -%>
		<%= link_to( "Request Friendship", user_friendships_path(current_user, :friend_id => @user), :method => :post ) %>
	  <%- else -%>
		<%- if @friendship.pending -%>
			<b>Friendship Pending</b>
			<%- if current_user != @friendship.user -%>
				(<%= link_to "Accept", user_friendship_path(:user_id => @user.id, :id => @friendship.id), :method => :put %>)
				(<%= link_to "Deny", user_friendship_path(:user_id => @user.id, :id => @friendship.id), :method => :delete %>)
			<%- end -%>
		<%- else -%>
			<%= link_to "Remove Friend", user_friendship_path(:user_id => @user.id, :id => @friendship.id), :method => :delete %>
		<%- end -%>
	  <%- end -%>

	  <%= link_to "View Friends", user_friendships_path(@user) %>
	<%- end -%>
      </div>

	<% if current_user == @user %>
	<% if @pending.count != 0 %>
		<h3>You have pending friendship requests! <%= link_to "See who wants to be your friend!", user_friendships_path(current_user) %> </h3>
	<% end %>
	<%- end -%>

      <div id="user_feed" class="span-24">
      <h3> Notice Board </h3>

      <ul style="list-style-type: none;">
        <%= render @feed_items %>

        <div id="last_feed_item_line" class="span-16 append-8" >
          <hr />
        </div>
      </ul>
    </div>

  </div>
</div>

