<%- if user_signed_in? %>
    <%= render :partial => "shared/dashboard" %> <br />
<% end -%>

<h1><%= @user.name %>'s Profile</h1>

<%= image_tag @user.avatar.url( :medium ) %> <br /> <br />
<b> Email: </b> <%= @user.email %> <br />
<%= link_to( 'Edit Profile', edit_user_path( @user ) ) %>

<%= link_to image_tag( @user.gem.url( :thumb ), :border => 1 ), user_achievements_path( @user ),
                                                :method => :get, :title => "gem_slot" %>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

