<ul id="nav" >
  <li class="current"> <%= link_to('My Profile', user_path(current_user)) %> </li>
  <li> <%= link_to('My Groups', destroy_user_session_path) %>
    <ul>
      <% for group in current_user.groups %>
        <li> <%= group_name_helper(group) %> </li>
      <% end %>

      <li> <%= link_to('Create a Group', new_group_path) %> </li>
    </ul>
  </li>
  <li> <%= link_to('My Friends', user_friendships_path(current_user)) %> </li>
  <li> <%= link_to('My Trophy Case', destroy_user_session_path) %> </li>
  <li> <%= link_to('Logout', destroy_user_session_path) %> </li>
</ul>

<%= form_tag users_path, :method => 'get' do %>
    User: <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :id => "submit_search" %>
<% end %>

<br />
<br />
<br />
<br />

