<b>Total Achievement Requests for <%= @group.name %>: <%= @user_achievements.count %> </b> <br />
<ul>
  <% for user_achievement in @user_achievements %>
    <li id=<%="#{email_to_safe_id(user_achievement.user.email)}-#{user_achievement.achievement.name}"%> >
      <%= user_achievement.user.email %> requested the <%= user_achievement.achievement.name %> achievement
      | Status: <%= user_achievement.ordinal_to_state %>  |
      <%= link_to( "View request", group_user_achievement_path(@group, user_achievement) ) %>
    </li>
  <% end %>
</ul>

