<%= stylesheet_link_tag "main" %>
<div class="container">
  <div id="main_header" style="border: black solid 1px;" class="span-24">
    <div class ="prepend-5 span-19 last">
      <br/>
      <br/>
      <br/>
      <h1>Badgr</h1>
    </div>

    <div class= "span-24 last">
      <div class="prepend-6 span-18 last">
        <h3> Some Tagline Here <h3>
      </div>
    </div>
  </div>
  <div class="prepend-6 span-12 append-6" >
    <br />
    <br />
    <br />

    <div class="span-6 append-6">
      <% flash.each do |key, value| %>
        <div class="span-6 flash <%= key %>"><%= value %></div>
      <% end %>

    </div>
    <br />
    <br />
    <br />
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class = "span-12" >
        <%= f.label :email %><br/>
        <%= f.text_field :email %>
      </div>

      <div class = "span-12" >
        <%= f.label :password %><br/>
        <%= f.password_field :password %>
      </div>

      <div class = "span-12">
        <div class="prepend-5 span-7 last">
          <%= f.submit "Sign in" %>
        </div>
      </div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>

