<%- if user_signed_in? %>
    <%= render :partial => "shared/dashboard" %> <br />
<% end -%>

<h1>Achievements#index</h1>
<b>Total Achievements for the <%= @group.name %> Hub: <%= @group.achievements.count %> </b> <br />
<ul>
  <% for achievement in @group.achievements %>
    <li id="<%= achievement.name %>-achievement" >
      <%= link_to( achievement.name, group_achievement_path( @group, achievement ) ) %>
      <%= link_to( "Request", new_user_user_achievements_path( current_user, achievement ) ) %>
    </li>
  <% end %>
</ul>

