<%- if user_signed_in? %>
    <%= render :partial => "shared/dashboard" %> <br />
<% end -%>

<h1>Achievements#index</h1>
<b>Total Achievements for the <%= @group.name %> Hub: <%= @group.achievements.count %> </b> <br />
<ul>
  <% for achievement in @group.achievements %>
    <li id="<%= achievement.name %>-achievement" >
      <%= link_to( achievement.name, group_achievement_path( @group, achievement ) ) %>
      <%= status_or_request_link(achievement) %>
    </li>
  <% end %>
</ul>

<br />

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

